.home_container {
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('./../../Assets/hero-img.jpg') center/cover no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home_container h1 {
    font-size: 80px;
    font-weight: 600;
}

.home_container p {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

/* Responsive View */

@media screen and (min-width: 0px) and (max-width: 600px) {
    .home_container h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .home_container p {
        font-size: 18px;
        font-weight: 400;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .home_container h1 {
        font-size: 50px;
        font-weight: 500;
    }

    .home_container p {
        font-size: 30px;
        font-weight: 400;
    }
}